.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href=root_path) DFWorldGen
      .container.nav-collapse
        %ul.nav
          =render 'devise/menu/registration_items'
          =render 'devise/menu/login_items'
          %li=link_to 'Leave feedback', new_feedback_path